[defaults]
collections_path = /home/lrios/Documents/redhat_projects/ansible-projects/emerging-services-test-suite/testathon/collections

[galaxy]
server_list = public

[galaxy_server.public]
url=https://galaxy.ansible.com/
